<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="screenShootsFolderPath" value="C:\Selenium\ScreenShoots"/>
    <add key="seleniumWebDriverPath" value="WebDrivers" />
    <add key="seleniumWebDriverName" value="ChromeDriver" />
    <add key="webAppRootUrl" value="http://www.google.com" />
    <add key="loginUserName" value="" />
    <add key="loginPassword" value="" />
    <add key="isRemote" value="false" />
    <add key="remoteWebDriverServerUrl" value=""  />
  </appSettings>
</configuration>