<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="seleniumWebDriverName" value="ChromeDriver" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="isRemote" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="remoteWebDriverServerUrl" value="http://localhost:4444/wd/hub"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="screenShootsFolderPath" value="C:\Selenium\ScreenShoots\XunitSeleniumTest\Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>